<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Michal Zima [www.mujmalysvet.cz]; e-mail: mzima@ipv6portal.cz" />
    <meta name="copyright" lang="en" content="Webdesign: Nuvio [www.nuvio.cz]; e-mail: ahoj@nuvio.cz" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <%= stylesheet_link_tag "reset", :media => "screen,projection" %>
    <%= stylesheet_link_tag "main", :media => "screen,projection" %>
    <!--[if lte IE 6]><%= stylesheet_link_tag "main-msie" %><![endif]-->
    <%= stylesheet_link_tag "style", :media => "screen,projection" %>
    <%= stylesheet_link_tag "print", :media => "print" %>

    <title>IPv6 Portál.cz</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header">
    
        <h1><%= link_to "IPv6 Portál.cz", root_path %></h1>
        
        <div id="slogan">IPv6 to jistí</div>
    
    </div> <!-- /header -->
    
    <hr class="noscreen" />
    
    <!-- Navigation -->
    <div id="nav" class="box">
    
        <ul>
            <li<% if params[:controller] == 'base' && params[:action] == 'index' %> class="active"<% end %>><%= link_to "Hlavní stránka", root_path %></li>
            <li<% if params[:controller] =~ /^database\/.*/ %> class="active"<% end %>><%= link_to "Databáze", db_path %></li>
            <li<% if params[:controller] == 'base' && params[:action] == 'contact' %> class="active"<% end %>><%= link_to "Kontakt", contact_path %></li>
        </ul>
        
    </div> <!-- /nav -->
    
    <hr class="noscreen" />
    
    <!-- Columns -->
    <div id="cols">
        <div id="cols-in" class="box">
    
            <!-- Content -->
            <div id="content">

                <h2 class="title-01"><%= @title %></h2>
                
                <div class="in">

		<%= yield %>

                </div> <!-- /in -->
                
            </div> <!-- /content -->

            <hr class="noscreen" />

            <!-- Aside -->
            <div id="aside">

                <h4 class="title-03">Kategorie</h4>
                
                <div class="in">
                
                    <ul id="subnav">
<% if params[:controller] =~ /^database\/.*/ -%>
<%= list_db_categories %>
<% else -%>
<%= list_wiki_categories %>
<% end -%>
                    </ul>

                </div> <!-- /in -->
                
                <h4 class="title-04">Novinky</h4>
                
                <div class="in">
                
                    <dl id="news" class="box">
                        <dt>14. 4. 2010</dt>
                        <dd>Po dlouhé odmlce IPv6 Portál opět ožívá, <%= link_to "databáze", db_path %> je v provozu a budou přibývat další části webu.</dd>

                        <dt>24. 6. 2009</dt>
                        <dd>Přidána nová databázová kategorie&#160;&#8211; velkoobchodní ISP</dd>

                        <dt>9. 6. 2009</dt>
                        <dd>Oficiální spuštění IPv6 Portálu</dd>
                    </dl>
                
                </div> <!-- /in -->

            </div> <!-- /aside -->
            
        </div> <!-- /cols-in -->
    </div> <!-- /cols -->
    
    <hr class="noscreen" />
    
    <!-- Footer -->
    <div id="footer" class="box">
    
        <p class="f-left">Copyright &copy; <%= Time.now.year %> <%= link_to "IPv6 Portál.cz", root_path %></p>

    </div> <!-- /box -->

</div> <!-- /main -->

<!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
<p id="copy"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a> &ndash; Our tip: <a href="http://www.thinline.cz/">Webdesign</a>, <a href="http://www.cesky-hosting.cz/">Webhosting</a></p>
<!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

<%= statistics -%>
</body>
</html>
